<div class="row">
    <div class="col-xs-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="checkActiveLink('/projects/{{singleProjectId}}')">
                <a href="#/projects/{{singleProjectId}}"><i class="fa fa-clock-o"></i> Estimates</a>
            </li>

            <li role="presentation" ng-class="checkActiveLink('/projects/{{singleProjectId}}/estimate/add')">
                <a href="#/projects/{{singleProjectId}}/estimate/add"><i class="fa fa-clock-o"></i> Add Estimate</a>
            </li>

            <li role="presentation" ng-class="checkActiveLink('/projects/{{singleProjectId}}/comments')">
                <a href="#/projects/{{singleProjectId}}/comments"><i class="fa fa-comment"></i> Comments</a>
            </li>
        </ul>
    </div>
</div>

<br>
