<div class="row">
    <div class="col-xs-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="checkActiveLink('/projects/{{singleProjectId}}')"><a href="#/projects/{{singleProjectId}}">Estimates</a></li>
            <li role="presentation" ng-class="checkActiveLink('/projects/{{singleProjectId}}/estimate/add')"><a href="#/projects/{{singleProjectId}}/estimate/add">Add Estimate</a></li>
        </ul>
    </div>
</div>

<br>
