<div class="row">
    <div class="col-xs-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="checkActiveLink('/')">
                <a href="#/">Dashboard</a>
            </li>
            
            <li role="presentation" ng-class="checkActiveLink('/report')">
                <a href="#/report">Time Report</a>
            </li>
            
            <li role="presentation" ng-class="checkActiveLink('/manage/back-date-entry')">
                <a href="#/manage/back-date-entry">Backdate Entry</a>
            </li>
        </ul>
    </div>
</div>
