<!--<div ng-include="reportTabUrl" scope="" onload=""></div>-->

<div class="row">
    <div class="col-sm-12">
        <h3>Request Backdate entry</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <form name="requestBackdateForm" ng-submit="requestBackdateSubmit(requestBackdateForm)">
            <div class="form-group">
                <label>Project Manager</label>
                <oi-select
                        oi-options="user.name for user in users track by user.id"
                        ng-model="requestBackdate.users"
                        multiple placeholder="Select Project Manager"
                        ></oi-select>
            </div>

            <datepicker date-format="yyyy-M-dd">
                <input ng-model="requestBackdate.backdate" type="text" class="form-control" placeholder="Select date" />
                <br />
            </datepicker>

            <div text-angular ng-model="requestBackdate.reason"
                 ta-toolbar="[['bold','italics', 'underline']]"
                 style="font-size: 1.5em"></div>
            <br />
            <button class="btn btn-success">Save</button>
        </form>
    </div>

    <div class="col-sm-8" ng-show="showEntries">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Project Manager Name</th>
                <th>Request Back date</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="entry in allEntries">
                <td>
                    <a href="#/user/view-request-backdate/{{ entry.id }}">{{entry.name}}</a>
                </td>
                <td>{{entry.backdate}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

